.upgrade_bx{
	display:none;
}
span.datahead {
	color: #6E8171;
	font-size: 12px !important;
}
span.data {
	margin-left: 15px;
	font-size: 12px !important;
}
.cont_right h1 {
	text-transform: capitalize;
}